@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.App {
  text-align: center;
  height: 100%;
  width: 100%;
  position: relative;
  font-family: 'Roboto Condensed', sans-serif;
}

/* font-family: 'Lobster', cursive; */
/* @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap'); */