.homeContainer {
    width: 100%;
    height: 100%;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-evenly;
}

/* .genresContainer {
    width: 70%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    position: relative;
    display: flex;
    overflow: auto;
    scroll-snap-type: x mandatory;
}

.genresContainer p {
    width: 100%;
    height: 100%;
    position: sticky;
    left: 0;
    flex-shrink: 0;
    object-fit: cover;
    scroll-snap-align: center
}

.genreCard {
    width: 250px;
    height: 100px;
    background-color: rgb(0, 0, 0);
    border-radius: 7px;
    color: white;
    font-size: 25px; 
    display: flex;
    align-items: center;
    justify-content: center;
} */

/* .genreCard:hover {
    background-color: rgb(9, 9, 9); 
    opacity: 0.8;
} */

.container {
    height: 100%;
    width: 100%;
}

.loading {
    margin-top: 200px;
    width: 200px;
}

.messageNoMatches {
    margin-top: 100px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.messageNoMatches > img {
    width: 500px;

}

.messageNoMatches > span {
    margin-top: 20px;
    width: 100%;
    color: white;
    font-size: 25px;
}

.cardsContainer {
    margin-top: 30px;
    width: 1150px;
    height: 100%;
    display: grid;
    grid-template-columns: 22% 22% 22% 22%;
    grid-auto-rows: 480px;
    justify-content: center;
    grid-row-gap: 5px;
    grid-column-gap: 30px;
}

.filtersContainer {
    margin-top: 30px;
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif;
}

.allGamesButton {
    width: 100%;
    height: 40px;
    font-size: 20px;
    position: relative;
    background-color: rgb(248, 255, 43);
    border-radius: 7px;
    border:none;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    font-size: 20px;
}

.allGamesButton::after {
content: "";
background: #ffffff;
position: absolute;
z-index: -1;
color: black;
display: block;
left: -20%;
right: -20%;
top: 0;
bottom: 0;
transform: skewX(45deg) scale(0, 1);
transition: all 0.3s ease;
}

.allGamesButton:hover::after {
transition: all 0.3s ease-out;
transform: skewX(45deg) scale(1, 1);
}



select {
    margin-top: 20px;
    border-radius: 5px;
    height: 40px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    border: none;
    padding-left: 7px;
    font-size: 18px;
    color: rgb(193, 193, 193);
    background-color: rgb(0, 0, 0);
    border: none;
}



