.background {
    background-color: black;
    opacity: 0.95;
    width: 100vw;
    height: 100vh;
    z-index: 10000;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.error {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    top: 320px;
    background-color: rgb(56, 56, 56);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 400px;
    height: 250px;
    opacity: 1;
    position: absolute;
    z-index: 100;
}

.acept {
    background-color: rgb(248, 255, 43);
    box-shadow: 2px 2px 5px rgb(30, 30, 30);
    border: none;
    height: 40px;
    width: 160px;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    font-size: 20px;
}

.acept::after {
content: "";
background: #ffffff;
position: absolute;
z-index: -1;
color: black;
display: block;
left: -20%;
right: -20%;
top: 0;
bottom: 0;
transform: skewX(45deg) scale(0, 1);
transition: all 0.3s ease;
}

.acept:hover::after {
transition: all 0.3s ease-out;
transform: skewX(45deg) scale(1, 1);
}

