@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,700;1,900&family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');

.formContainer {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    grid-template-columns: 50% 50%;
    grid-template-rows: 80% 10%;
    justify-content: start;
}

.left {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 90%;
}

.left > h1 {
    margin-top: 30px;
    font-size: 60px;
    color: white;
    font-family: 'Lobster Two', cursive;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: 100px;
}

.label {
    font-size: 25px;
    color: rgb(191, 191, 191);
    font-family: 'Lobster Two', cursive;
}

.input {
    background-color: rgb(56, 56, 56);
    border: none;
    color: rgb(191, 191, 191);
    height: 40px;
    width: 300px;
    border-radius: 7px;
    padding-left: 10px;
    font-size: 17px;
    font-style: oblique;
    font-family: 'Roboto Condensed', sans-serif;
}

.errorContainer {
    width: 300px;
    height: 20px;
}

.error {
    margin-top: 2px;
    color: red;
    font-family: 'Poppins', sans-serif;
}

.ratingContainer > h2 {
    color: rgb(191, 191, 191);
    font-family: 'Lobster Two', cursive;
    font-size: 25px;
    margin-bottom: 0;
}

.rating {
    direction: rtl;
}

.radio {
    display: none;
}

.radio:checked ~ label{
    color: orange;
}

.star{
    color: grey;
    font-size: 50px;
    cursor: pointer;
}

.star:hover,
.star:hover ~ label{
    color: orange;
}

.selectForm {
    width: 310px;
    height: 90px;
}

/* ------------------------------------------------------  */

.right {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 80%;
}

.right > img {
    height: 230px;
}

.right > img:hover {
    animation: rotate;
    animation-duration: 1.5s;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    
    } 25% {
        transform: rotate(30deg);
    
    } 75% {
        transform: rotate(0);

    } 75% {
        transform: rotate(-30deg);

    } 100% {
        transform: rotate(0deg);
    }
}

.right > h2 {
    color: white;
    font-family: 'Lobster Two', cursive;
    font-size: 25px;
}

.checkboxContainer {
    width: 590px;
    height: 350px;
    display: grid;
    grid-template-columns: repeat(3, 220px);
    grid-template-rows: repeat(6, 50px);
    justify-items: left;
    color: rgb(191, 191, 191);
}

.labelCheckbox {
    font-size: 20px;
}

.checkboxForm {
    width: 25px;
    height: 25px;
}

.submitButton{
    height: 60px;
    width: 200px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    color: black;
    box-shadow: 2px 3px 1px black;
    background-color: rgb(248, 255, 43);
    padding: 16px 20px;
    border-radius: 3px; /* redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    margin-top: 20px;
    grid-column: 1 / 3;
}

.submitButton:not(:disabled)::after {
content: "";
background: #ffffff;
position: absolute;
z-index: -1;
color: black;
display: block;
left: -20%;
right: -20%;
top: 0;
bottom: 0;
transform: skewX(45deg) scale(0, 1);
transition: all 0.3s ease;
}

.submitButton:not(:disabled):hover::after {
transition: all 0.3s ease-out;
transform: skewX(45deg) scale(1, 1);
}

button:disabled,
    button[disabled] {
        border: 1px solid black;
        background-color: rgb(128, 128, 128);
        color: white;
        padding: 15px;
        cursor: not-allowed;
    }