.formContainer {
    /* right: 100px; */
    /* top: 150px; */
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
    padding-bottom: 15px;
}

.formContainer > h1 {
    margin-top: 30px;
    font-size: 70px;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: 80px;
}

.label {
    font-size: 20px;
    color: rgb(191, 191, 191);
}

.input {
    background-color: rgb(56, 56, 56);
    border: none;
    color: rgb(191, 191, 191);
    height: 180px;
    width: 300px;
    border-radius: 7px;
    padding-left: 10px;
    font-size: 15px;
    font-style: oblique;
    
}

.errorContainer {
    width: 100%;
    height: 100%;
}

.error{
    color: red;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.submitButton:hover{
    background-color: yellow;
    transition: 0.2s;
    opacity: 1;
}

.selectForm {
    width: 265px;
}

.checkboxContainer {
    width: 600px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(4, 150px);
    background-color: rgb(86, 86, 86);
}

.labelCheckbox {
    font-size: 20px;
}

.checkboxForm {
    width: 20px;
    height: 20px;
}

.submitButton{
    margin-bottom: 10px;
    background-color: rgb(230, 244, 83);
    height: 43px;
    width: 200px;
    border-radius: 8px;
    border: none;
    font-size: 17px;
    color: black;
    box-shadow: 2px 3px 1px black;
}
