@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,700;1,900&family=Roboto+Condensed&display=swap');

.navBarContainer {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(0, 0, 0);
    top: 0;
    z-index: 100;
    position: sticky;
    opacity: 0.90;
}

.logo {
    height: 50%;
    width: 200px;
}

.link {
    height: 40px;
    width: 150px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(223, 220, 220);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
}

.exitContainer {
    height: 50px;
    width: 80px;
}

.exit {
    height: 100%;
    width: 100%;
}